body{
	background-color: #006837
}
.background{
	background-color: #006837
}


 li {
	display: inline-block;
	width: 200px;
	font-size:22px;
	color:  white;
	float: right;

}

  
.logo{
	width: 120px;
	float: right;
	margin-top: -20px;
	margin-right:50px;
	vertical-align: top


}

.margin{
	margin-bottom: 150px;
	margin-top: 10px;
	padding-top: 50px;
}
 p{ font-size:18px;
 	line-height:24px 
 }

 }
 img{
 	width:150px;
 	
 }
 
 .float-img{
 	float: right;
 	margin: 10px

 	
 }
 .float{
 	float: left;
 	margin: 10px
 	
 }
 .float-box-right{
 	float: right;
 	width: 100px

 }
 .float-box-left{
 	float: left;
 	width: 100px

 }
 .clear{
 	background-color: #F6E715;

 }
 .clearr{
 	background-color: #F6E715;
 }
 .font1{

 }
 .font2{

 }
